.cardcss{
    /* background-color: blue; */
    width: 10vw;
    height: 15vh;
}

.card-detail{
  text-shadow: 0px 0px 5px rgb(13, 13, 13);

    color: whitesmoke;
    height: 10vh;
    /* background: yellow; */
    padding-top: 23vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    /* overflow: hidden; */
}
.mainCard:hover{
    transform: scale(0.9);
}
.mainCard{
    transition: all 0.3s;
}

/* .card-image::before{
    content: " ";
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, transparent, rgb(221, 14, 14));
    background-color: red;
    z-index: 10000;
} */

.list-text{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.target-list{
    text-align: center;
    /* width: 5vw; */
    min-width: max-content;
    max-height: max-content;
    
    color: 212529;
    /* background-color: green; */
    
    border-radius: 17px;
    padding-top: 0.5vh;
    box-shadow: 0px 0px 2px gray;
    border: solid 1px gray;
}
.scroll-line::-webkit-scrollbar{
    appearance: none;
}
